LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT="bot-assistance"
DEBUG_MODE=true
SUMMARY_MAX_GROUP_SIZE=8000
SUMMARY_SIZE_THRESHOLD=15000
SUMMARY_CHARS_PER_TOKEN=4
ENVIRONMENT=dev
MODEL_PATH="./models/Qwen2.5-Coder-7B-Instruct-Q8_0.gguf"
LOGIC_AGENT_BP_CACHE_SIZE=100
EMBEDDING_MODEL_PATH="./models/all-MiniLM-L6-v2-Q5_K_M.gguf"
EMBEDDING_N_THREADS=8
EMBEDDING_N_BATCH=256
EMBEDDING_N_CTX=256
SC_URL=http...