LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT="bot-assistance"
DEBUG_MODE=true
SUMMARY_MAX_GROUP_SIZE=5000
SUMMARY_SIZE_THRESHOLD=8000
SUMMARY_CHARS_PER_TOKEN=4
ENVIRONMENT=prod
MODEL_PATH="./models/Qwen-2.5-Coder-14B-Instruct-Q4_K_M.gguf"
LOGIC_AGENT_BP_CACHE_SIZE=100
EMBEDDING_MODEL_PATH="./models/all-MiniLM-L6-v2-Q5_K_M.gguf"
EMBEDDING_N_THREADS=8
EMBEDDING_N_BATCH=256
EMBEDDING_N_CTX=256
SC_URL=https://
AI_URL=https://
API_MODEL="mistral-small:latest"
USE_API_LLM=true